## Task1:

Q1: install jupyter notebook and screenshot of first program:

In [34]:
a="Hello World!"
print(a)

Hello World!

Q2.
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [7]:
if 1:
    print('a')

a

In [10]:
for i in range(2000,3201):
    if (i%7==0) & (i%5):
        print(i, end=',')

2016,2023,2051,2058,2086,2093,2121,2128,2156,2163,2191,2198,2226,2233,2261,2268,2296,2303,2331,2338,2366,2373,2401,2408,2436,2443,2471,2478,2506,2513,2541,2548,2576,2583,2611,2618,2646,2653,2681,2688,2716,2723,2751,2758,2786,2793,2821,2828,2856,2863,2891,2898,2926,2933,2961,2968,2996,3003,3031,3038,3066,3073,3101,3108,3136,3143,3171,3178,

Q3.
Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [13]:
first_name=str(input('Enter first name: '))
last_name=str(input('Enter last name: '))
print(first_name[::-1]+" "+last_name[::-1])
#or other way to print is
print(first_name[::-1],last_name[::-1])

Enter first name: Shraddha
Enter last name: Shirke
ahddarhS ekrihS
ahddarhS ekrihS

Q4.
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [15]:
from math import pi
def Vol_sphere(diameter):
    r=diameter/2
    vol=4/3*pi*(r**3)
    return vol

In [16]:
Vol_sphere(12)

904.7786842338603

# Task 2:

Q1.
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [29]:
a=input().split(',')

4,5

In [33]:
a= [int(i) for i in a]
print(a)

[4, 5]

Q2.
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [11]:
n= 5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [24]:
# we can use this code also for this pattern
n=5
for i in range((2*n)-1):
    if i<n:
        print('* '*(i+1))
    else:
        print('* '*(2*n-i-1))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Q3.
Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [27]:
a=input('enter word: ')
print(a[::-1])

enter word: AcadGild
dliGdacA

Q4.
Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

In [33]:
string = "WE, THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN,{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{}and to secure to all its citizens"
print(string.format('\n\t','!\n\t\t','\n\t\t '))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens